
<div class="col">
  <main class="px-3">
    <h2 class="text-center">Questions</h2>
    <%_ if(question[0]) {-%>
      <h3 class ="text-light bg-info text-center rounded p-2"><%= question[0].user_id -%> </h3>
      <%_ for (const aQuestion of question) {-%>
        <div class='pb-3'>
          <form class='update' id="<%= aQuestion.id -%>" >
            <div class="border rounded p-3 mb-2" style="background-color: #bee5eb;">
      
            <div class="form-row">
              <label for="question">Question</label>
              <input id="question" type="text" name="question" placeholder="Question" value="<%= aQuestion.question -%>"  class="form-control form-control-lg font-weight-bold mb-1">
              <label for="user_id">User Id</label>
              <input id="user_id" type="text" name="user_id" placeholder="User Id" value="<%= aQuestion.user_id -%>" class="form-control form-control-lg font-weight-bold mb-1">
            </div>
            <label for="options">Options</label>
            <%_ for (const option of aQuestion.options) {-%>
                <input
                    type="text"
                    name="options"
                    placeholder="option"
                    value="<%- option -%>"
                    class="form-control form-control-lg font-weight-bold mb-1"
                >
            <%_ } -%>
            <label for="answer">Answer</label>
            <input
                type="text"
                name="answer"
                placeholder="Answer"
                value="<%- aQuestion.answer -%>"
                class="form-control form-control-lg font-weight-bold mb-1"
            >
            <button class="delete btn btn-sm btn-primary m-1">Delete</button>
            <button class="btn btn-sm btn-primary m-1">Update</button>
          </form>
        </div>
      <%_ }-%>
    <%_ } else {-%>
      <h3 class ="bg-info text-center rounded p-2">You don't have any questions yet</h3>
    <%_ }-%>
  </main>
</div>
