<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'home'}); -%>
      <%_ if (name) { -%>
        <h1 class= "text-success text-center">LOGIN SUCCESSFUL</h1>
      <%_ } else { -%>
        <div class="row">
        <%- include('./login'); -%>
        <%- include('./create'); -%>
        </div>
      <%_ } -%>
    <%- include('./scripts'); -%>
  </body>
</html>
