<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'home'}); -%>
    <div class="row py-4 px-5">
      <%_ if (name === 'DOES_NOT_EXIST') { -%>
        <%- include('./create'); -%>
      <%_ } else { -%>
        <%_ if (name) { -%>
          <%- include('./home', {question: question}); -%>
          <%- include('./add', {name: name}); -%>
        <%_ } else { -%>
          <%- include('./login'); -%>
        <%_ } -%>
      <%_ } -%>
    </div>
    <%- include('./scripts'); -%>
  </body>
</html>
