<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'home'}); -%>
      <%_ if (name && name !== 'DOES_NOT_EXIST') { -%>
        <div class="row">
          <%- include('./home', {question: question}); -%>
          <%- include('./add', {name: name}); -%>
        </div>
      <%_ } else { -%>
        <%_ if(name === 'DOES_NOT_EXIST'){ -%>
          <%- include('./create', {name: name}); -%>
          <%_ } else { -%>
        <div class="row">
        <%- include('./login'); -%>
        <%- include('./create', {name: name}); -%>
        </div>
        <%_ } -%>
      <%_ } -%>
    <%- include('./scripts'); -%>
  </body>
</html>
