<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'questions'}); -%>
    <div class="container-fluid">
      <div class="row">
        <ul>
          <%_ for (const id of userIDS) {
                for(const first of firstNames){
                  for(const last of lastNames){-%>
          <li<%= id -%>,   <%= first  -%>,  <%= last-%></li>
          <%_ }}} -%>
          </ul>
      </div>
    </div>
  </body>
</html>
