<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'questions'}); -%>
    <div class="container-fluid">
      <div class="row">
        <ul>
          <%_ for (const user of users) {
          <li><%= user.id -%>,   <%= user.first_name  -%>,  <%= user.last_name-%></li>
          <%_ }}} -%>
          </ul>
      </div>
    </div>
  </body>
</html>
