<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'users'}); -%>
    <div class="row px-5 py-2">
      <table class="table table-info">
        <thead class="thead">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <%_ var count = 1; -%>
          <%_ for (const user of users) { -%>
            <tr>
              <th scope="row"><%- count-%></th>
              <td><%- user.first_name-%></td>
              <td><%- user.last_name-%></td>
              <td><%- user.user_id -%></td>
            </tr>
            <%_ count += 1; -%>
          <%_ } -%>
        </tbody>
      </table>
    </div>
  </body>
</html>
