<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'users'}); -%>
    <div class="container-fluid">
      <div class="col">
        <h1>Users</h1>
        <ul class="col-7">
          <%_ for (const user of users) { -%>
          <li>
            <div class="border rounded bg-light ">
              <h3 ><%- user.user_id -%></h3>
              <h1 class="text-right p-3"><%- user.first_name  -%></h1>
              <h1 class="text-right p-3"><%- user.last_name-%></h1>
            </div>
          </li>
          <%_ } -%>
        </ul>
      </div>
    </div>
  </body>
</html>
