<div class="col-2">
  <h6 class="centered">People</h6>
  <nav class="nav nav-pills nav-fill flex-column">
    <ul class="list-group">
    <%_ for (const user of userIDs) { -%>
      <%_ var current_user_id = ''; -%>
      <%_ if (question) { -%>
        <%_ current_user_id = question[0].user_id; -%>
      <%_ } -%>
      <%_ const status = (user === question[0].user_id) ? 'bg-info' : 'list-group-item-info'; -%>
      <%_ if (user !== name) { -%>
        <li class="list-group-item <%=status-%>">
          <a style="text-decoration: none;" href="/questions/<%= user -%>" class="text-dark nav-item"> <%= user -%></a>
        </li>
      <%_ } -%>
    <%_ } -%>
    </ul>
  </nav>
</div>
<div class="col">
  <main class="p-3">
      <%_ if (question) { -%>
        <h3 class ="text-light bg-info text-center rounded p-2"><%= question[0].user_id -%></h3>
      <%_ } -%>
      <%_
      var count = 0;
      for (const aQuestion of question) {
        count++;-%>
        <form id="<%= aQuestion.id -%>"  answer = "<%= aQuestion.answer -%>" class="mb-2">
          <div id ="<%= "div" + aQuestion.id -%>" class="border rounded p-3">
            <h3>Question: <%- aQuestion.question -%></h3>
            <div id = "options">
            <%_ for (const option of aQuestion.options) {-%>
              <p>
              <input type="radio"  name= "option" value="<%= option -%>">
              <label for="option "><%= option -%></label>
              </p>
            <%_ } -%>
            </div>
            <button  id ="<%= "b" + aQuestion.id -%>" class= "enter btn btn-sm btn-primary m-1">Submit</button>
          </div>
        </form>
      <%_ } -%>
    <div class="row">
      <h3 id = "score" value = "0" class = "col-2" >SCORE: </h3>
      <h3 id = "currscore" class="col-1"> 0 </h3>
      <h3 class="col-1"> / </h3>
      <h3 class = "col"><%= count-%></h3>
    </div>

  </main>
</div>
